@charset "utf-8";
/* CSS Document */


#header_navbar nav {
    font-weight: bold;
    background-color: #242d40;
    border-color: #242d40;
    opacity: 1.0;
}

#header_navbar nav a {
    color:#ffffff;
    text-align:center;
}

#header_navbar nav a:before,
#header_navbar nav a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 70%;
    left: 50%;
    transition: all .8s;
}

#header_navbar nav a:hover {
    background-color: #0066cc;
    color: #ffffff;
}

#header_navbar nav a:hover:before {
	left: 1em;
    width: calc(50% - 1em);
    color: #ffffff;
}

#header_navbar nav a:hover:after {
	left: 50%;
    width: calc(50% - 1em);
    color: #ffffff;
}

#button_navbar .icon-bar {
    background-color: #efefef;
}

#button_navbar {
    border-color: #A2A2A2;
    background-color: #A2A2A2;
}

#button_navbar:hover,
#button_navbar:focus {
    border-color: #C4C4C4;
    background-color: #C4C4C4;
}


.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #CCCCCC; }

body {
    background-color: #FFF;
	color: #000;
	line-height: 1.5em;
	margin: 0px;
	font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size:18px;

    width: 100%;
    height: 100%;

    max-width: 100%;
    overflow-x: hidden;
}

p {
	padding-left: 0px;
}

#paper_info{
    top: 30px;
	padding: 100px 0px 100px 0px;
	width: 100%;
    margin-top: 10px;
    text-align:center;
    background-color: #242d40;
    color: #ffffff;
}

#paper_title {
	margin-left: 8%;
    margin-right: 8%;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 84%;
}

#paper_title h1 {
	font-weight: 600;
    color:#ffffff;
	text-decoration:none;
}

#paper_title h4 {
	font-weight: 400;
    color: #FFEB99;
    padding: 20px 0px 0px 0px;
	text-decoration:none;
}

#paper_title h5 {
	font-weight: 400;
    color: #ffffff;
    padding: 15px 0px 0px 0px;
	text-decoration:none;
}

#container {
	background-color: #FFF;
	margin-left: 8%;
    margin-right: 8%;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 84%;
	padding: 0px 0px 30px 0px;
}

#clear {
	clear: both;
}


#intro {
	margin:2%;
	padding-top:20px;
}

.subtitle {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

.subtitle:hover {
    font-weight: 600;
    color:#000;
	text-decoration:none;
}

#intro p {
	text-decoration:none;
}

#intro p a {
    font-weight: 600;
	text-decoration:none;
    color: #0066cc;
}

#intro p a:hover {
    font-weight: 600;
	color:#F90;
	text-decoration:underline;
}

.architecture_caption {
    font-size:14px;
}

#results {
	margin:2%;
	padding-top:20px;
}

#samples {
	margin:2%;
	padding-top:20px;
}

.audio_demos {
    margin:0 auto;
    text-align:center;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: gray;
  height: 20px;
  border-radius: 15px;
  padding: 0 3px;
  border-style: none;
}

input[type='range']::-webkit-slider-thumb {
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #444;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border-style: none;
}

#references {
	margin:2%;
	padding-top:20px;
}

#licenses {
	margin:2%;
	padding-top:20px;
}

#licenses p a {
    font-weight: 600;
	text-decoration:none;
    color: #0066cc;
}

#licenses p a:hover {
    font-weight: 600;
	color:#F90;
	text-decoration:underline;
}

#footer {
    border-top:2px solid gray;
    margin-top:10px;
    margin:0 auto;
    text-align:center;
}

#footer i{
	font-size: 110%;
	padding-top: 0px;
	padding-bottom: 30px;
    margin:0 auto;
    text-align:center;
    margin-top:40px;
    font-size:14px;
}

#clustrmaps{
    margin:0 auto;
}

.btn-circle-scroll {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.btn-circle {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    padding: 5px 16px;
    border: 4px solid #000;
    border-radius: 25%;
    font-size: 40px;
    color: #fff;
    background-color:#27408B;
}

.btn-circle:hover {
    color: #fff;
    background: rgba(72, 118, 255, 0.7);
}

.btn-circle:focus {
    color: #fff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

img {
    width: 100%; /* or max-width: 100%; */
    height: auto;
}